* {
    margin: 0;
    padding: 0;
}

body {
    background: #505050;
    color: #fff;
}

.wrapper {
    width: 450px;
    margin: 25px auto;
}

/********** Tab ***********/

.tab__container ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

li a {
    color: #fff;
    width: 150px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    display: block;
}

li.active a, li.active:hover a {
    background: #404040;
}

li:hover a {
    background: #ff7200;
}

.content {
    background: #404040;
    text-align: justify;
    display: none;
}

.content:first-child {
    display: block;
}

.content h3 {
    padding-top: 13px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

.content p {
    padding: 7px 15px 20px;
}

/*********** Form ***********/

form.wrapper {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #404040;
}

.position__form {
    width: 240px;
    margin-left: 35px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

form label, form input {
    width: 150px;
    text-align: left;
}

.button__form {
    color: #fff;
    width: 90px;
    height: 25px;
    margin-left: 35px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    border: 1px solid #ff7200;
    border-radius: 5px;
    background-color: #505050;
    display: inline-block;
}

.button__form:hover {
    background-color: #ff7200;
}

#tooltip {
    width: 130px;
    padding: 2px 5px;
    background: #ff7200;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 255px;
}
